.imagen{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin: 10px 0px;
}
ion-content{
    --background:var(--the-bg-primary);

}
.label{
    font-size: 14px;
    font-weight:400;
}
.marginbottom{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 800;
}