<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" class="ion-justify-content-center flex height-full flex-col ion-padding ">

    <ion-item fill="solid"  class="default-radius">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
<div>
  <ng-container *ngFor="let validation of validation_message.email">
    <div *ngIf="
    loginForm.get('email')?.hasError(validation.type) && 
    (loginForm.get('email')?.dirty || 
    loginForm.get('email')?.touched)
    "
    class="ion-padding">
      {{validation.message}}
    </div>
  </ng-container>
</div>
    <ion-item fill="solid" class="default-radius">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_message.password">
      <div *ngIf="
      loginForm.get('password')?.hasError(validation.type) && 
      (loginForm.get('password')?.dirty || 
      loginForm.get('password')?.touched)      
      "
      class="ion-padding">
        {{validation.message}}
      </div>
    </ng-container>
<ion-button  
class="ion-margin-top"
shape="round"
color="secondary"
[disabled]="!loginForm.valid"
type="submit">
  Login
</ion-button>
<button class="ion-margin-top button-register"(click)="goToRegister()">Registro</button>
</form>
{{ errorMessage }}
</ion-content>  
<ion-footer>
  <ion-toolbar>
    <ion-title>Title</ion-title>
  </ion-toolbar>
</ion-footer>
