<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()">
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<figure class="size-logo">
  <img src="./assets/logo.png" />
</figure>
<form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Enter text" formControlName="name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input placeholder="Enter text" formControlName="last_name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-select formControlName="document_type" interface="popover" placeholder="Tipo documento">
      <ion-select-option *ngFor="let option of documentTypes"
        value="{{option.value}}">{{option.label}}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Numero documento</ion-label>
    <ion-input placeholder="Enter text" formControlName="document_number"> </ion-input>
  </ion-item>
  
  <ion-select formControlName="career" interface="popover" placeholder="Carrera">
    <ion-select-option *ngFor="let option of careers"
      value="{{option.value}}">{{option.label}}</ion-select-option>
  </ion-select>
  
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Enter text" formControlName="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input placeholder="Enter text" formControlName="password" type="password"></ion-input>
  </ion-item>

  <ion-button 
shape="round"
color="secondary"
type="submit">
  Registrarse
</ion-button>

</form>


</ion-content>
